body {
	width: 
}
html {
	width: 50%;
	position: relative;
	left: 25%;
}
h1 {
	text-align: center;
	color: blue;
	
}

dl strong{
	font-size: 25px;
	text-shadow:3px 2px 1px green;
}

dt {
	text-indent:15px;
	line-height:30px;
}

dd {
	font-family:Times New Roman;
	font-style:italic;
	font-weight:bold;
}

[class="profile"] {
	background-color: lightblue;
}


[class="profile"] li {
	list-style: none; 
}
[id="Life"] dl dt{
	text-decoration:underline;
}
line-height
